<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

    <extensions>
      <add assembly="NLog.Targets.SignalR"/>
    </extensions>
     
    <targets>
      <!--<target name="a1" type="NLogSignalR"
              uri="http://localhost:8005/messaging"
              CallViaPersistentConnection="true"
              MethodToCall="broadCastMessage"
              layout="${message}${exception:tostring}"/>-->
    
     <!--<target name="a1" type="NLogSignalR"
              uri="http://localhost/SignalRAspNetServer"
              HubName="messenger"
              GroupName="sourcing"
              CallViaPersistentConnection="false"
              MethodToCall="broadCastMessage"
              layout="${message}${exception:tostring}"/>-->
    
    <target name="a1" type="NLogSignalR"
              uri="http://Student-pc/SignalR"
              HubName="messenger"
              GroupName="sourcing"
              CallViaPersistentConnection="false"
              MethodToCall="broadCastMessage"
              layout="${message}${exception:tostring}"/>
    
    </targets>
    
      
    
    <rules>
      <logger name="*" minlevel ="Info" writeTo ="a1" />
    </rules>
  </nlog>
  
  
</configuration>

<!--Host="star"
              Port="80"
              VirtualDirectoryName="SignalRApp"-->